body
{
	background-color: #DDD;
	font-family: Agency FB, Arial, sans-serif;
	font-size: 22;

}

	.Single
	{
		clear: BOTH;
		margin: 30%;
	}

 	#Content
	{
		background-color: WHITE;
		margin-left: AUTO;
		margin-right: AUTO;
		width: 85%;
	}
	
		#Header
		{
			padding: 1%;
			height: 25%; 
			position: FIXED;
		}
		
			#Logo
			{
				width: 30%;
				background-color: #bfd63c;
				float: LEFT;
				color: WHITE;
				margin-top: 6px;
			}
				#Logo a	
				{
					text-decoration: NONE;
					display: BLOCK;
					width: 100%;
				}	
				#Logo a:link, #Logo a:visited
				{
					display: BLOCK;
					width: 177.4px;
					font-weight: BOLD;
					color: WHITE;
					padding: 4px;
				}
				
			#Blank
			{
				width: 100%;
				height: 100px;
				background-image: url('top.jpg');
				background-repeat: NO-REPEAT;
				margin: 0;
				padding: 0; 
			}
			h6
			{
			margin: 0;
			padding: 0;
			font-size: 70px;
			text-align: END;
			text-transform: UPPERCASE;
			font-weight: BOLD;
			/* color: #000; */
			}
			
			#NavBar
			{
				float: RIGHT;
				height: 12.5%;
				width: 75%;
			}
				#NavBar a
				{
					text-decoration: NONE;
					display: BLOCK;
					width: 60px;	
				}	
				#NavBar a:link , #NavBar a:visited
				{
					display: BLOCK;
					width: 204px;
					font-weight: BOLD;
					color: WHITE;
					background-color: #98bf21;
					text-align: CENTER;
					padding: 4px;
					text-transform: UPPERCASE;
					transition: BACKGROUND 0.3s LINEAR 0s, COLOR 0.5s LINEAR 0s;
				}
				#NavBar a:hover, #NavBar a:active
				{
					background-color: #FF6600;
				}
				#NavBar ul
				{
					list-style-type: NONE;
					margin: 0;
					padding: 0;
					overflow: HIDDEN;
				}
				#NavBar li
				{		
					display: INLINE;
					float: LEFT;
				}
				

#Mid
{
	padding-bottom:1%;
	background-color:#c9fcbe;
}

#Img
{
	clear: BOTH;
	float: LEFT;
	
}

#Pts
{
	clear: BOTH;
	float: RIGHT;
	width: 60%;
}

#Pts h3
{
	background-color: #66CCFF;
	width: 102%;
	
}

#Pts li
{
	
	background-color: #98bf21;
	text-decoration: B;
}

#Footer
{
	clear: BOTH;
	background-color: #AAA;
	height: 13%;
	text-align: BOTTOM;
	position: TOP;
	text-align: END;
}

h2
{
font-weight: BOLD;
text-transform: UPPERCASE;
font-size: 52;
}

 
 
 