@CHARSET "ISO-8859-1";


body
{
	background-color: #DDD;
	font-family: Agency FB, Arial, sans-serif;
	font-size: 22;
}

	h3
		{
			color: #FFF;
			background-color: #bfd2dd;
			
		}

	.Bor
		{
			border-right-style: SOLID;
			border-width: 2px;
			border-color: #EEE;
			margin-bottom: 3%;
			margin-right: 3%;
		}
		
	a:visited
		{
			color: #0000AA;
		}
	a:link
		{
			color: #0000AA;
		}	
		
			
	#Content
	{
		background-color: WHITE;
		margin-left: AUTO;
		margin-right: AUTO;
		width: 85%;
	}
	
		#Header
		{
			padding: 1%;
			height: 25%; 
			position: FIXED;
		}
		
			#Logo
			{
				width: 30%;
				background-color: #bfd63c;
				float: LEFT;
				color: WHITE;
				margin-top: 6px;
			}
					#Logo
			{
				width: 30%;
				background-color: #bfd63c;
				float: LEFT;
				color: WHITE;
				margin-top: 6px;
			}
				#Logo a	
				{
					text-decoration: NONE;
					display: BLOCK;
					width: 100%;
				}	
				#Logo a:link, #Logo a:visited
				{
					display: BLOCK;
					width: 177.4px;
					font-weight: BOLD;
					color: WHITE;
					padding: 4px;
				}
				
			#Blank
			{
				width: 100%;
				height: 99px;
				background-image: url('top.jpg');
				background-repeat: NO-REPEAT;
				margin: 0;
				padding: 0; 
			}
			h6
			{
			margin: 0;
			padding: 0;
			font-size: 70px;
			text-align: END;
			text-transform: UPPERCASE;
			font-weight: BOLD;
			color: RED;
			}
			
			#NavBar
			{
				float: RIGHT;
				height: 12.5%;
				width: 75%;
			}
 				#NavBar ul
				{
					list-style-type: NONE;
					margin: 0;
					padding: 0;
					overflow: HIDDEN;
				}
				#NavBar a:link , #NavBar a:visited
				{
					display: BLOCK;
					width: 204px;
					font-weight: BOLD;
					color: WHITE;
					background-color: #98bf21;
					text-align: CENTER;
					padding: 4px;
					text-transform: UPPERCASE;
					transition: BACKGROUND 0.3s LINEAR 0s, COLOR 0.5s LINEAR 0s;
				}
				#NavBar a:hover, #NavBar a:active
				{
					background-color: #FF6600;
				}
				#NavBar li
				{		
					display: INLINE;
					float: LEFT;
				}
				#NavBar a	
				{
					text-decoration: NONE;
					display: BLOCK;
					width: 60px;	
				}	
		
		#Highlight
		{
			clear: BOTH;
			margin: 3%;
			text-align: CENTER;		
			color: WHITE;
			font-weight: BOLD;
			text-transform: UPPERCASE;
			background-color: #BCE7F4;
		}	
		
		#Options
		{
			float: RIGHT;
			text-align: RIGHT;
			background-color: #D3D3D3;
			width: 15%;
			
		}
		hr
		{
		padding: 0;
		width: 95;
		}
		
		#Profile
		{
			padding: 2%; 
			float: LEFT;
			width: 50%;
			backgroud-color: #EEE;
		}
		
		#Action
		{
			padding-left: 2%;
			float: RIGHT;
			width: 50%;
			backgroud-color: #AAA;
		}
		
	#Footer
	{
		clear: BOTH;
		background-color: #AAA;
		text-align: RIGHT;
	}	